.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.image_custom {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.one-line-paragraph {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /* Số dòng bạn muốn giới hạn */
  -webkit-box-orient: vertical;
  visibility: visible;
  /* Tránh bug không giới hạn số dòng được do trình duyệt */
  text-overflow: ellipsis;
  overflow: hidden;
}

.two-line-paragraph {
  display: block;
  display: -webkit-box;
  line-height: 20px;
  /* Fallback  */
  max-height: 50px;
  /* Fallback số dòng bạn muốn giới hạn */
  -webkit-line-clamp: 2;
  /* Số dòng bạn muốn giới hạn */
  -webkit-box-orient: vertical;
  visibility: visible;
  /* Tránh bug không giới hạn số dòng được do trình duyệt */
  text-overflow: ellipsis;
  overflow: hidden;
}

.four-line-paragraph {
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  /* Số dòng bạn muốn giới hạn */
  -webkit-box-orient: vertical;
  visibility: visible;
  /* Tránh bug không giới hạn số dòng được do trình duyệt */
  text-overflow: ellipsis;
  overflow: hidden;
}


.ql-font-arial {
  font-family: 'Arial', sans-serif;
}

.ql-font-roboto {
  font-family: 'Roboto', sans-serif;
}

.ql-font-calibri {
  font-family: 'Calibri', sans-serif;
}

.ql-font-courier {
  font-family: 'Courier New', serif;
}

.ql-font-georgia {
  font-family: 'Georgia', sans-serif;
}

.ql-font-lucida {
  font-family: 'Lucida Sans Unicode', sans-serif;
}

.ql-font-open {
  font-family: 'Open Sans', sans-serif;
}

.ql-font-tahoma {
  font-family: 'Tahoma', sans-serif;
}

.ql-font-times {
  font-family: 'Times New Roman', sans-serif;
}

.ql-font-trebuchet {
  font-family: 'Trebuchet Ms', sans-serif;
}

.ql-font-verdana {
  font-family: 'Verdana', sans-serif;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=arial]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=arial]::before {
  content: 'Arial';
  font-family: 'Arial', 'Helvetica';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=calibri]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=calibri]::before {
  content: 'Calibri';
  font-family: 'Calibri', sans-serif;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=roboto]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=roboto]::before {
  content: 'Roboto';
  font-family: 'Roboto', sans-serif;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="courier"]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="courier"]::before {
  content: 'Courier New';
  font-family: 'Courier New';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=georgia]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=georgia]::before {
  content: 'Georgia';
  font-family: 'Georgia', sans-serif;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="lucida"]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="lucida"]::before {
  content: 'Lucida Sans';
  font-family: 'Lucida Sans Unicode', sans-serif;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="open"]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="open"]::before {
  content: 'Open Sans';
  font-family: 'Open Sans', sans-serif;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=tahoma]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=tahoma]::before {
  content: 'Tahoma';
  font-family: 'Tahoma';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="times"]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="times"]::before {
  content: 'Times New Roman';
  font-family: 'Times New Roman';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="trebuchet"]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="trebuchet"]::before {
  content: 'Trebuchet MS';
  font-family: 'Trebuchet MS';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=verdana]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=verdana]::before {
  content: 'Verdana';
  font-family: 'Verdana', sans-serif;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="14px"]::before {
  content: '14px';
  font-size: 14px !important;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="16px"]::before {
  content: '16px';
  font-size: 16px !important;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="18px"]::before {
  content: '18px';
  font-size: 18px !important;
}
.ease-soft-in-out {
  transition-timing-function: ease-in-out;
}

.shadow-soft-xl {
  --tw-shadow: 0px 0px 27px 0 rgba(0,0,0,0.05);
  --tw-shadow-colored: 0 0px 27px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.shadow-transparent {
  --tw-shadow-color: transparent;
  --tw-shadow: var(--tw-shadow-colored);
}

.ease-soft {
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}

.ease-in {
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

.ease-soft-in-out {
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}

.ease-soft-in {
  transition-timing-function: cubic-bezier(0.42, 0, 1, 1);
}

.ease-bounce {
  transition-timing-function: cubic-bezier(0.34, 1.61, 0.7, 1.3);
}

.ease-soft-out {
  transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
}
